.header {
	height: 100vh;
	position: relative;
	background-color: #c4c4c4;
	color: #fff;
	background-image: url('../img/slides/moscow-city.webp');
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	a {
		color: #fff;
	}
	// .header__content
	&__content {
		position: absolute;
		z-index: 9;
		top: 50px;
		left: 70px;
		right: 70px;
		bottom: 80px;
		pointer-events: none;

		background-color: rgba(#999, 0.3);

		@media (max-width: 1200px) {
			top: 40px;
			left: 40px;
			right: 40px;
			bottom: 60px;
		}
		@media (max-width: 767px) {
			top: 30px;
			left: 5%;
			right: 5%;
			bottom: 30px;
		}
	}

	// .header__nav
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;
		pointer-events: all;
		// .nav__logo
		&__logo {
			display: flex;
			align-items: center;
			column-gap: 5px;
			fill: #fff;
			cursor: pointer;
			strong {
				font-family: 'Roboto';
				text-transform: uppercase;
				font-size: rem(28);
				// line-height: 0.8;
			}
			svg {
				border-radius: 50%;
			}
		}

		// .nav__list
		&__list {
			ul {
				display: flex;
				column-gap: 65px;
				li {
					color: #fff;
					font-family: 'Montserrat';
					font-size: rem(18);
					font-weight: 600;
					// text-transform: uppercase;
					a {
						position: relative;
						&::before {
							content: '';
							position: absolute;
							width: 100%;
							height: 1px;
							background-color: #fff;
							bottom: -4px;
							left: 0;
							transform-origin: right;
							transform: scaleX(0);
							transition: transform 0.3s ease-in-out;
						}
						&:hover::before {
							transform-origin: left;
							transform: scaleX(1);
						}
					}
				}
			}

			@media (max-width: 1200px) {
				display: none;
			}
		}
		// .nav__mobile
		&__mobile {
		}
		// .nav__btn
		&__btn {
		}
		// .nav__btn-img
		&__btn-img {
		}
	}

	// .header__socials
	&__socials {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0%, -50%);
		pointer-events: all;

		@media (max-width: 767px) {
			display: none;
		}

		@media (max-hight: 600px) {
			top: 40%;
		}

		.socials-icons {
			display: flex;
			flex-direction: column;
			row-gap: 24px;
			align-items: center;
			pointer-events: all;
		}
	}
	// .header__socials-icons

	// .header__see-more
	&__see-more {
		position: absolute;
		left: 0;
		bottom: 0;
		pointer-events: all;

		.see-more {
			position: relative;
			padding-left: 60px;
			display: block;
			font-family: 'Montserrat';
			font-size: rem(14);
			font-weight: 600;
			color: rgba(#fff, 0.6);
			transform: rotate(-90deg) translate(0%, 100%);
			// transform: rotate(-90deg);
			transform-origin: left bottom;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: calc(50% - 1.5px);
				width: 38px;
				height: 3px;
				background-color: #fff;
				opacity: 0.3;
			}
		}
	}

	// .header__slider-controls
	&__slider-controls {
		position: absolute;
		right: 0;
		bottom: 0;
		pointer-events: all;

		background-color: #878787;
		height: 60px;
		width: 80px;
	}

	// .header__scrollbar
	&__scrollbar {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0%, -50%);
		pointer-events: all;

		background-color: #878787;
		width: 10px;
		height: 400px;
	}
}
