// Использование математики
@use 'sass:math';

// Миксины
@import './base/_mixins';

// Обнуление стилей
@import './base/_null-style';

// Шрифты
@import './base/_fonts';

// Swiper
@import '../../node_modules/swiper/swiper-bundle.min';

// ====================================================================================================================================================================================================================
// Общие параметры
// ====================================================================================================================================================================================================================
// Оболочка
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	}
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.none {
	display: none;
}

.no-scroll {
	overflow-y: hidden;
}

// ====================================================================================================================================================================================================================
// Настройки

// ====================================================================================================================================================================================================================
// Настройки адаптива

// ====================================================================================================================================================================================================================
// // Общие элементы

// ====================================================================================================================================================================================================================
// Заголовки секций

// ====================================================================================================================================================================================================================
// Блоки

@import './blocks/_header';
